<h1>Editing order article</h1>

<%= render "form", order_article: @order_article %>

<br>

<div>
  <%= link_to "Show this order article", @order_article %> |
  <%= link_to "Back to order articles", order_articles_path %>
</div>
